body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    font-size: 18px;
    line-height: 32px;
    color: #777;
    background: #777;
    width: 960px;
}

header {
    padding: 20px;
    margin-bottom: 10px;
    background: #ebebeb;
    text-align: center;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
    text-align: center;
}

#left {
    width: 50%;
    float: left;
    color: #777;
    background: #ebebeb;
    text-align: center;
    border-bottom-width: 200px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

#left-2 {
    color: #ebebeb;
    background: #777;
    text-align: center;
    height: 155px;
    width: 472px;
    top: 245px;
    padding-top: 7px;
    padding-bottom: 15px;
    border: 1px solid #ebebeb;
}

#inside {
    height: 25px;
    width: 412px;
    padding-left: 10px;
    padding-right: 10px;
    border-left-width: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    margin-top: 10px;
    background: #ebebeb;
    color: #777;
}

#inside-2 {
    height: 25px;
    width: 412px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    background: #ebebeb;
    color: #777;
}

#right {
    float: right;
    width: 40%;
    background: #ebebeb;
    text-align: center;
    padding-bottom: 205px;
}

footer {
    padding: 20px;
    clear: both;
    background: #ebebeb;
    text-align: center;
}